<script>
    $(function(){
        EBCMS.{$namespace}.createdatabase = function createdatabase(){
             if($("#createdatabase").is(':checked')==true){
                 $('.createdatabase').fadeIn('slow');
             }else{
                 $('.createdatabase').hide();
             }
        };
        EBCMS.{$namespace}.gotostep3 = function gotostep3(){
            EBCMS.CORE.submit({
                url: '{:url('install/index/index')}',
                form:'{$namespace}Form',
                success:function(data){
                    if (data.code) {
                        EBCMS.{$namespace}.step('3');
                    }else{
                        alert(data.msg);
                    };
                },
                error:function(a,b,c){
                    alert('数据库不存在或账号密码错误！');
                }
            });
        };
    });
</script>
<form id="{$namespace}Form">
    <div class="license">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据库地址:</div>
                <input type="text" name="hostname" value="127.0.0.1" class="form-control" id="hostname" placeholder="hostname">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据库端口:</div>
                <input type="text" name="hostport" value="3306" class="form-control" id="hostport" placeholder="hostport">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据库名称:</div>
                <input type="text" name="database" value="" class="form-control" id="database" placeholder="database">
            </div>
        </div>
        <div class="form-group createdatabase">
            <div class="input-group">
                <div class="input-group-addon">ROOT账户:</div>
                <input type="text" name="username_root" value="root" class="form-control" id="username_root" placeholder="username_root">
            </div>
        </div>
        <div class="form-group createdatabase">
            <div class="input-group">
                <div class="input-group-addon">ROOT密码:</div>
                <input type="text" name="password_root" value="root" class="form-control" id="password_root" placeholder="password_root">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据库账户:</div>
                <input type="text" name="username" value="root" class="form-control" id="username" placeholder="username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据库密码:</div>
                <input type="text" name="password" value="root" class="form-control" id="password" placeholder="password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">数据表前缀:</div>
                <input type="text" name="prefix" value="ebcms5_" class="form-control" id="prefix" placeholder="prefix">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">邮<span style="color:#eee;">一一一</span>箱:</div>
                <input type="text" name="user_email" class="form-control" id="user_email" placeholder="电子邮箱">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">密<span style="color:#eee;">一一一</span>码:</div>
                <input type="text" name="user_password" class="form-control" id="user_password" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">确认<span style="color:#eee;">一</span>密码:</div>
                <input type="text" name="user_password2" class="form-control" id="user_password2" placeholder="再次输入密码">
            </div>
        </div>
        <input type="hidden" name="step" value="2">
    </div>
    <div class="toolbar">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="EBCMS.{$namespace}.step(1);">上一步</button>
            <button type="button" class="btn btn-primary" onclick="EBCMS.{$namespace}.gotostep3();">下一步</button>
        </div>
        <span onchange="EBCMS.{$namespace}.createdatabase();"><label for="createdatabase" onclick="EBCMS.{$namespace}.createdatabase();"><input type="checkbox" name="createdatabase" value='1' id="createdatabase"/>创建数据库</label></span>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="demodatabase" value='1' id="demodatabase1" checked="checked"/><label for="demodatabase1">安装演示数据</label><input type="radio" name="demodatabase" value='0' id="demodatabase0"/><label for="demodatabase0">安装纯净版</label>
    </div>
</form>